title = "Homepage"
url = "/"
layout = "default"
is_hidden = 0

[builderList]
modelClass = "CaydenSimler\Craigslist\Models\Category"
scope = "-"
displayColumn = "category_title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
sortColumn = "category_title"
sortDirection = "asc"

[subcategories]
results = 0
sortOrder = "name desc"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}


<div class="col-xs-12 invisible">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta laudantium distinctio cupiditate inventore quos architecto assumenda tempore earum maxime ea quod odit eum eligendi aspernatur temporibus repellendus animi, ratione adipisci doloribus recusandae similique. Consectetur ex velit, accusamus labore veritatis cupiditate. Dolor rerum mollitia minus pariatur doloribus id, et libero expedita.</div>

<div class="col-xs-12 text-center">
    {% for record in records %}
        <div class="col-xs-6 categoriesList">
            {# Use spaceless tag to remove spaces inside the A tag. #}
            {% spaceless %}
                {% if detailsPage %}
                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                {% endif %}

                <a href="/{{ record.slug }}">{{ record.category_title }}</a>

                {% if detailsPage %}
                    </a>
                {% endif %}
            {% endspaceless %}
        </div>
    {% else %}
        <li class="no-data">{{ noRecordsMessage }}</li>
    {% endfor %}
</div>

{% if records.lastPage > 1 %}
    <ul class="pagination">
        {% if records.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..records.lastPage %}
            <li class="{{ records.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if records.lastPage > records.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}